.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.login-left {
  width: 50vw;
  background-image: url("../../public/images/auth_image.png");
  background-size: cover;
  background-position: center;
}

.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.login-box {
  width: 80%;
  padding: 20px;
  text-align: center;
}

.login-box h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #000;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background-color: #1a3dff;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  box-sizing: border-box;
}

.login-box button:hover {
  background-color: #0027b3;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.register-link {
  margin-top: 10px;
  font-size: 14px;
}

.register-link a {
  color: #1a3dff;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
